aiofiles==25.1.0
aiogram==3.23.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
APScheduler==3.11.1
asyncpg==0.31.0
attrs==25.4.0
black==25.12.0
certifi==2025.11.12
cfgv==3.5.0
click==8.3.1
distlib==0.4.0
filelock==3.20.1
flake8==7.3.0
frozenlist==1.8.0
identify==2.6.15
idna==3.11
isort==7.0.0
magic-filter==1.0.12
mccabe==0.7.0
multidict==6.7.0
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.1
pre_commit==4.5.1
propcache==0.4.1
pycodestyle==2.14.0
pydantic==2.12.5
pydantic_core==2.41.5
pyflakes==3.4.0
python-dotenv==1.2.1
pytokens==0.3.0
PyYAML==6.0.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
virtualenv==20.35.4
yarl==1.22.0
